.home {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.returningButton {
  margin-top: 10px;
}

.container {
  max-width: 700px;
  margin: 20px;
}

.button {
  margin: 20px 0;
}
