@import 'src/constants.scss';

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: loader 0.85s linear infinite;
  transform-origin: center;
  stroke: $primary;
}
